[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"nose2" = "*"

[packages]
requests = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.7"
